tym97 qid0
16 16 25 1
1 1 16 16
.......#...#ABC.
.........#..#E.G
..#.......#F.#HI
##.#......D#..#J
....#....#......
.....###...#...#
.#..#...........
#..........##...
...##..........#
...........#..#.
#...#...###.....
......#....#....
Q#..#W......#.##
RS#.U#.......#..
T.V#..#.........
.XYZ#...#.......
