tym35 tym99
16 16 25 1
2 1 15 16
L......#...#ABC.
.........#..#E.G
..#.......#F.#HI
##.#.......#D.#J
....#....#......
..#..#.#...#...#
.#..#...........
#......#...##P..
..K##...#......#
...........#..#.
#...#...#.#..#..
......#....#....
Q#.W#.......#.##
RS#.U#.......#..
T.V#..#.........
.XYZ#...#......O
